.agent_secrets.json
.agent_approvals.json
__pycache__/
*.py[cod]
*$py.class
log/
.vscode/
.idea/
.env
venv/
workspace/
git-server/
.agent_permissions.json
inner_space/auth_token.json
inner_space/task/task_*_state.json
inner_space/ssh/.keys/
.cython_build/
.pyinstaller_build/
release/
*.bak*
whisper/models/
.memory/
datetime_check.log
server/.memory/
agix/
agix_win.exe
agix_slim/
agix_slim.tar.gz
flet_env/
workspace_temp/
*.sqlite3
